<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition>
		<hr />
		<h2>Hola mundo</h2>
		<hr />
	</ui:composition>
</h:body>
</html>
