<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:insert name="header">
		<ui:include src="/template/header.xhtml" />
	</ui:insert>
	<ui:insert name="content">
		<ui:include src="/template/content.xhtml" />
	</ui:insert>
	
</h:body>
</html>
