<html
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<title>Import Template</title>
</h:head>
<h:body>
	<ui:composition template="template/template.xhtml"></ui:composition>
</h:body>
</html>